---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}!!</h1>
  {%- endif -%}

  {{ content }}
  <h2>Мое кредо - <b>getting things done</b></h2>
  <p>Занимаюсь разработкой с 2009 года. Первый стек технологий - ruby, ruby on rails. Участвовал в 
    доработке крупного интернет магазина. Так же делал несколько проектов под заказ. </p>
  <p>В 2012-2013 интересовался clojure, clojurescript и сделал несколько toy projects на этом языке.</p> 
  <p>Затем занимался несколькими проектами в сфере интернет торговли,
    где строил маркетинговые стратегии и занимался продвижением проектов в социальных сетях. 
    Так же использовал таргет на vk.ru, facebook.com, instagram для продвижения проектов. 
  </p>
  <p>Текущий проект в сфере разработки - <a href="https://mestoplatform.ru">mestoplatform.ru</a>. </p>
  <p>Платформа для создания проектов, продуктов и команд. 
    Логическое продолжение сообщества <a href="https://mesto.co">Mesto</a>. 
    Использованнные технологии - vue.js, nuxt.js, sqlite, strapi.io, bootstrap 4, js ES6.
    Бэклог разработки можно посмотреть на <a href="https://github.com/fellz/mesto.platform/projects/1">github.com</a>. Был полностью сделан дизайн, проработан функционал
    и уже через 2 недели проект работал. Затем проект был запущен на выделенном сервере на платформе
    digitalocean и сейчас доступен по адресу <a href="https://mestoplatform.ru">mestoplatform.ru</a>
    Доступна регистрация по почте и через google oauth2. Конструктор api - <b>strapi.io</b> позволил быстро сделать
    бизнес модель и протестировать ее. Таким образом MVP через несколько итераций уже отражало видение
    проекта пользователями сообщества Mesto.</p>  
</div>
